<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".activity.PermissionRequestActivity"
            android:theme="@style/Theme.Transparent"
            android:excludeFromRecents="true"
            android:noHistory="true" />

        <receiver android:name=".receiver.NotificationDismissReceiver" />

        <service
            android:name=".services.SocketService"
            android:enabled="true"
            android:exported="false" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="bnotify_channel" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/icon" />
    </application>

</manifest>